  .container{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .projects{
    display: grid;
    margin-top: 15px;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px 15px;
  }
  
  .wrapper{
    position: relative;
    background: #fff;
    height: 140px;
    overflow: hidden;
    border-radius: 7px;
  }
  
  .link-background{
    background-repeat: repeat, no-repeat;
    background-position: 50%;
    background-size: auto 100%;
    height: 140px;
    width: 100%;
    position: static;
  }
  
  .link-title{
    background: #fff;
    padding: 14px 20px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space:nowrap;
    font-size: 22px;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    z-index: 2;
    color: #333 !important;
  }

  @media screen and (max-width: 800px) {
    .row {   
      flex-direction: column;
    }

    .projects{
        grid-template-columns: repeat(1,1fr);
        grid-gap:12px;
        padding: 0 8px;
    }
  }